header{
	background-color: #222222;
	padding:10px 0rem 10px 10rem;
	/*height: 120px;*/
}
#logo{
	width: 175px;
	height: 100px;
	vertical-align:center;

}
li{
	color:#ffffff;
	text-align:center;
	padding-top:3%;
	cursor:pointer;
	font-family: Gotham;
}
li:hover{
	color:#A58D69
}
.dropdown{
	padding:3%;
	position:relative;
	display:inline-block;
}
.dropdown-content{
	visibility:hidden;
	display:block;
	position:absolute;
	background-color:#222222;
	z-index:1;
	color:#ffffff;
}
.dropdown:hover .dropdown-content{
	visibility:visible;

}
.t{
	padding:10px 0;
}
main{
	background-color:#F9F7F4;
}
.charity{
	padding:10px
}
#contact{
	background-color:#4E4E4E;
	color:#A58D69
}
map{
	display:block;
}
area{
	display:block;
	border: 2px #00000 solid;
}